{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LearnLive Version 1">
    <meta name="author" content="Abhinav Khanna Aditya Agarwalla">

    <title>Qurious - One Stop Learning Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/home.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'query_parser/starter-template.css' %}" rel="stylesheet">
  </head>

  <body>
      <div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel"><strong>Create my Qurious Account</strong></h2>
          </div>
          <div class="modal-body">
            <form id="signin">
              <fieldset>

              <div class="form-group">
                <label for="exampleInputEmail">EMAIL ADDRESS</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="xyz@gmail.com">
              </div>

              <div class="form-group">
                <label for="exampleInputPassoword">PASSWORD</label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="">
              </div>

              <div class="form-group" id="confirmPassword">
                <label for="confirmPassword1">RE-ENTER PASSWORD</label>
                <input type="password" class="form-control" id="confirmPassword1" placeholder="">
              </div>
              
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
          <center>
            <button type="button" class="btn btn-success">Make Account</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </center>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

      <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'search' %}">Qurious</a>
              </div>
              <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li><a href="{% url 'search' %}">Home</a></li>
                    <li class="active"><a href="#">About Us</a></li>
                </ul>

                <form class="navbar-form navbar-right" role="form">
                  <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                  </div>
                  <span> </span>
                  <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                  </div>
                  <span> </span>
                  <button type="submit" class="btn btn-success">Sign in</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#myModalNew">New User?</a></li>
                </ul>

              </div><!--/.navbar-collapse -->
            </div>
          </div>
        </div>
        </div>

    <!--end of navbar-->
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
      <div class="featurette1">
      <h2>About Us <small class="text-muted"> The Team behind Qurious</small></h2>

      <div class="jumbotron">
        <h1>What we stand for</h1>
        <p class = "text-primary">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      </div>

      <div class="row">
      <div class="col-lg-8">
        <h3><strong>Who</strong> We Are</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
        <p>Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing <span class="alternative-font">metus</span> sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula.</p>
      </div>

      <div class = "col-lg-4">
        <center>
          <img class = "img-responsive" src="{% static 'query_parser/home.jpg' %}" alt="..." />
        </center>
      </div>
      </div>

      <hr class="featurette-divider">

      <h3>Meet the <strong>Team</strong></h3>

      <div class="row">
        <div class="col-lg-6">
          <center>
          <img class="img-thumbnail" src="{% static 'query_parser/team1.jpg' %}" />
          <h4>Aditya Agarwalla<br><small>Co-Founder</small></h4>
          <p><a href = "https://www.facebook.com/aditya.agarwalla" target="_blank"><i class="icon-facebook"></i></a> | <a href = "http://www.linkedin.com/pub/aditya-agarwalla/43/421/850" target="_blank"><i class="icon-linkedin"></i></a></p></center>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <center>
          <img class="img-thumbnail" src="{% static 'query_parser/team2.jpg' %}">
          <h4>Abhinav Khanna<br><small>Co-Founder</small></h4>
          <p><a href = "https://www.facebook.com/aditya.agarwalla" target="_blank"><i class="icon-facebook"></i></a> | <a href = "www.linkedin.com/pub/abhinav-khanna/61/4b0/193" target="_blank"><i class="icon-linkedin"></i></a></p>
          </center>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <form>
          <fieldset>
            <legend><h2><strong>Leave us a message</strong></h2></legend>
            <h4 class="text-muted">We'd love to know more about you. Please do not hesitate to contact us.</h4>
            <div class="form-group">
              <label for="exampleInputEmail">Name *</label>
              <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter name">
            </div>

            <div class = "row">
              <div class="form-group col-lg-6">
                <label for="exampleInputPassword">Email address *</label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="Enter email address">
              </div>
              <div class="form-group col-lg-6">
                <label for="exampleInputPassword">Contact Number *</label>
                <input type="text" class="form-control" id="exampleInputPassword" placeholder="Enter contact number">
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail">Message *</label>
              <textarea maxlength="5000" rows="10" class = "form-control" name="message" id="message"></textarea>
            </div>

            <div class="btn-toolbar">
              <input type="submit" value="Send Message" class="btn btn-primary btn-large" data-loading-text="Loading...">
            </div>
          </fieldset>
      </form>


      </div>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
      <!-- FOOTER -->
      <footer>
        <p><center><a href = "https://www.facebook.com/IntegratedDigitalSystems" target="_blank"><i class="icon-facebook icon-large"></i></a> | <a href = "http://www.linkedin.com/company/2875040?trk=prof-exp-company-name" target="_blank"><i class="icon-linkedin icon-large"></i></a></center></p>
        <p><center>Copyright &copy; 2013, Qurious. All Rights Reserved.</center></p>
      </footer>
   </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <!-- JavaScript plugins (requires jQuery) -->
       <script src="{% static 'jquery/jquery.js' %}"></script>
          <script src="{% static 'bootstrap/holder.js' %}"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>

