{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LearnLive Version 1">
    <meta name="author" content="Abhinav Khanna Aditya Agarwalla">

    <title>Qurious - One Stop Learning Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/home.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'query_parser/starter-template.css' %}" rel="stylesheet">
  </head>

  <body>
    {% include "query_parser/navbar.html" %}

    <!--end of navbar-->
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
      <div class="featurette1">
      <h2>About Us</h2>

      <div class="jumbotron jumbotron-about-us">
        <h1><p class = "text-danger">Curious? Discover. Learn.</p></h1>
        We at Qurious believe that everyone out there can teach a skill, for which a learner exists. What we do is facilitate this interaction.
      </div>

      <div class="row">
      <div class="col-lg-7 who-we-are">
        <h3>Who We Are</h3>
        <p>Are you curious about knowledge? Have you ever particpated in online learning and felt frustrated with the lack of interaction with the instructor? Have you ever had a question and wanted a quick personalized response? Have you ever yearned for in depth discussions with fellow students online? We at Qurious have and are doing something to change it. We firmly believe that everyone possesses some unique skill, and more importantly, there are people out there who actively seek to obtain this information. We are creating an open and friendly peer-to-peer platform that connects your questions to real life experts in the respective fields who bid on your questions in real time. You get the personalized help you always deserved, and you get it quick. Our platform bridges the gap between students and teachers and facilitates real-time conversation in which people can share their skills. Join us now, as a learner, as an instructor, as a curious individual!</p>
        <p></p>
      </div>

      <div class = "col-lg-5">
        <center>
	  <object width="450" height="344"><param name="movie" value="http://swf.tubechop.com/tubechop.swf?vurl=wzP_iO9foDg&start=2288&end=2694&cid=1918976"></param><embed src="http://swf.tubechop.com/tubechop.swf?vurl=wzP_iO9foDg&start=2288&end=2694&cid=1918976" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object>
        </center>
      </div>
      </div>

      

      <hr class="featurette-divider">

      <h3>Meet the Team</h3>

      <div class="row">
        <div class="col-sm-4">
          <center>
          <img class="img-thumbnail" src="{% static 'query_parser/AdityaA-Profile-Small.png' %}" width="270" height="350" />
          <h4>Aditya Agarwalla<br><small>Co-Founder</small></h4>
          <p><a href = "https://www.facebook.com/aditya.agarwalla" target="_blank"><i class="icon-facebook"></i></a> | <a href = "http://www.linkedin.com/pub/aditya-agarwalla/43/421/850" target="_blank"><i class="icon-linkedin"></i></a></p></center>
        </div><!-- /.col-lg-6 -->

        <div class="col-sm-4">
          <center>
          <img class="img-thumbnail" src="{% static 'query_parser/37138b1.jpg' %}" width="270" height="350" />
          <h4>Abhinav Khanna<br><small>Co-Founder</small></h4>
          <p><a href = "https://www.facebook.com/abhinav.khanna.39" target="_blank"><i class="icon-facebook"></i></a> | <a href = "http://www.linkedin.com/pub/abhinav-khanna/61/4b0/193" target="_blank"><i class="icon-linkedin"></i></a></p>
          </center>
        </div><!-- /.col-lg-6 -->

	<div class="col-sm-4">
          <center>
          <img class="img-thumbnail" src="{% static 'query_parser/photo.jpg' %}" width="270" height="350" />
          <h4>Schrasing Tong<br><small>Intern</small></h4>
          <p><a href = "http://www.facebook.com/schrasing.tong" target="_blank"><i class="icon-facebook"></i></a> | <a href = "http://www.linkedin.com/home?trk=hb_tab_home_top" target="_blank"><i class="icon-linkedin"></i></a></p>
          </center>
        </div><!-- /.col-lg-6 -->

      </div><!-- /.row -->

      <hr class="featurette-divider">

      <form action="{% url 'about-us' %}" method="POST">
	  {% csrf_token %}
          <fieldset>
            <legend><h2><strong>Leave us a message</strong></h2></legend>
            <h4 class="text-muted">We'd love to hear from you. Please reach out to us below.</h4>
            <div class="form-group">
              <label for="exampleInputEmail">Name *</label>
              <input type="text" name="name" class="form-control" id="exampleInputEmail" placeholder="Enter name">
            </div>

            <div class = "row">
              <div class="form-group col-lg-6">
                <label for="exampleInputPassword">Email address *</label>
                <input type="text" name="email" class="form-control" id="exampleInputPassword" placeholder="Enter email address">
              </div>
              <div class="form-group col-lg-6">
                <label for="exampleInputPassword">Contact Number *</label>
                <input type="text" name="phone" class="form-control" id="exampleInputPassword" placeholder="Enter contact number">
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail">Message *</label>
              <textarea maxlength="5000" rows="10" class = "form-control" name="message" id="message"></textarea>
            </div>

            <div class="btn-toolbar">
              <input type="submit" value="Send Message" class="btn btn-primary btn-large" data-loading-text="Loading...">
            </div>
          </fieldset>
      </form>


      </div>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
      <!-- FOOTER -->
      <footer>
        <p><center><a href = "#" target="_blank"><i class="icon-facebook icon-large"></i></a> | <a href = "#" target="_blank"><i class="icon-linkedin icon-large"></i></a></center></p>
        <p><center>Copyright &copy; 2014, Qurious. All Rights Reserved.</center></p>
      </footer>
   </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <!-- JavaScript plugins (requires jQuery) -->
       <script src="{% static 'jquery/jquery.js' %}"></script>
          <script src="{% static 'bootstrap/holder.js' %}"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>

