{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>BidProfile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap core CSS -->

	<!-- Custom styles for this template -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
  {% load compressed %}
  {% compressed_css 'css' %}
  {% compressed_js 'js' %}
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>

<body>
<!-- <div class="panel panel-primary">
<div class="panel-heading"><span class = "text">Computer and Electronics Help <span class = "text-muted">by David Su</span></span></div>
<div class="panel-body">
<img class="img-responsive" alt="Responsive" data-src="../dist/holder.js/240x240" />
</div>
</div> -->

<!-- NAVBAR
================================================== -->
	{% include "query_parser/navbar.html" %}

<!--end of navbar-->

  <div class = "content-container">

	<div class = "col-md-6 col-md-offset-3">  
		<h2 class="text-muted">Search Results
			<p class = "pull-right"><select class="form-control">
				<option>Relevance</option>
				<option>Price - Low to High</option>
				<option>Price - High to Low</option>
				<option>Reviews - Low to High</option>
				<option>Reviews - High to Low</option>
			</select>
			</p>
		</h2>
	</div>

		<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Reviews for XYZ</h4>
				</div>
				<div class="modal-body">
					<h4><b>Thumbnail label</b><span class="text-muted"> November 29, 2012</span></h4>
					<span class="modaltest" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
					</span>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					<br>
					<h4><b>Thumbnail label</b><span class="text-muted"> November 29, 2012</span></h4>
					<span class="modaltest" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
					</span>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					<br>
					<h4><b>Thumbnail label</b><span class="text-muted"> November 29, 2012</span></h4>
					<span class="modaltest" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
					</span>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					<br>
					<h4><b>Thumbnail label</b><span class="text-muted"> November 29, 2012</span></h4>
					<span class="modaltest" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
					</span>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					<br>
					<h4><b>Thumbnail label</b><span class="text-muted"> November 29, 2012</span></h4>
					<span class="modaltest" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
					</span>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi</p>
					<br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-danger">More Reviews</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

		<!-- Modal for bid confirmation (and in the future - payment) -->
	<div class="modal fade" id="myModalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<form id="paymentinfo" action="{% url 'in-class-post' %}" method="POST">
			{% csrf_token %}
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h2 class="modal-title" id="myModalLabel"><strong>Confirmation Page</strong></h2>
					</div>
					<div class="modal-body">
						{% if not user.is_authenticated %}
							<h4>Sign In Please</h4>
							<input onClick="showOrHide()" type="checkbox" name="options" id="option1check">    I don't have an account
							<br>
							<br>
							<fieldset>
								<div class="form-group">
									<label for="exampleInputEmail">EMAIL ADDRESS</label>
									<input type="email" name="email" class="form-control" id="exampleInputEmail" placeholder="xyz@gmail.com">
								</div>
								<div class="form-group">
									<label for="exampleInputPassoword">PASSWORD</label>
									<input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="">
								</div>
								<div class="form-group" id="confirmPassword" style="visibility:hidden;">
									<label for="confirmPassword1">RE-ENTER PASSWORD</label>
									<input type="password" name="confirm" class="form-control" id="confirmPassword1" placeholder="">
								</div>
							</fieldset>
						{% endif %}

						<h4>Enter Session Details</h4>
						<p> Price of 15 minute Live Session <span class="pull-right"> $10</p></p>
						<p> <form class="form-inline" role="form">
							  <div class="form-group">
							    <label for="exampleInputMin">Duration of session</label>
							    <input type="text" class="form-control" id="exampleInputMin" placeholder="In minutes">
							  </div>
							</form>
						</p>
						<p> Total cost of Live Session <span class="pull-right"> $30</p></p>

						<br>
						<h4>Enter Payment Information</h4>

						<fieldset>
							<div class="form-group">
								<input type="text" class="form-control" id="exampleInputEmail" placeholder="CREDIT CARD NUMBER - VISA, MASTERCARD, AMEX, DISCOVER">
							</div>
							<div class = "row">
								<div class="form-group col-lg-4">
									<input type="password" class="form-control" id="exampleInputPassword" placeholder="MM">
								</div>
								<div class="form-group col-lg-4">
									<input type="text" class="form-control" id="exampleInputPassword" placeholder="YYYY">
								</div>
								<div class="form-group col-lg-4">
									<input type="text" class="form-control" id="exampleInputPassword" placeholder="CVC">
								</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="exampleInputPassword" placeholder="BILLING ZIP CODE">
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<center>
							<input type="hidden" name="id_tutor" value="junk_value" id="id_tutor"/>
							<button type="submit" class="btn btn-danger">Start Live Session</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</center>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</form> <!-- /.end of form -->
	</div><!-- /.modal -->


		{% for profile in profiles %}
		<div class = "row">
			<div class ="col-md-6 col-md-offset-3">
				<div class="thumbnail">
					<div class = "row">
						<div class="col-md-3">
							<img class="img1-responsive" src="{% static 'query_parser/profile1.jpg' %}" alt="..." align = "left" height="150px" />
						</div>
						<div class="col-md-9 caption">
							<h3>{{ profile.profile_name }}</h3>
							<input type="hidden" class="profile_id" value="{{ profile.id }}" />
							<span class="modaltest" data-toggle="modal" data-target="#myModal">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
							</span>
							<p>in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							<p><a href="#" class="btn btn-danger result_select_bid" role="button" data-toggle="modal" data-target="#myModalConfirm">Select Bid - $7/30 minute session</a> <a href="#" class="btn btn-default" role="button">Select appointment time</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}

		<div class = "row">
			<div class ="col-md-6 col-md-offset-3">
				<div class="thumbnail">
					<div class = "row">
						<div class="col-md-3">
							<img class="img1-responsive" src="{% static 'query_parser/profile5.jpeg' %}" alt="..." align = "left" height="150px" />
						</div>
						<div class="col-md-9 caption">
							<h3>Thumbnail label</h3>
							<span class="modaltest" data-toggle="modal" data-target="#myModal">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
							</span>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							<p><a href="#" class="btn btn-danger" role="button" data-toggle="modal" data-target="#myModalConfirm">Select Bid - $7/30 minute session</a> <a href="#" class="btn btn-default" role="button">Select appointment time</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container marketing">

			<hr class="featurette-divider">

			<!-- /END THE FEATURETTES -->

			<!-- FOOTER -->
			<footer>
		        <p><center><a href = "#" target="_blank"><i class="icon-facebook icon-large"></i></a> | <a href = "#" target="_blank"><i class="icon-linkedin icon-large"></i></a></center></p>
		        <p><center>Copyright &copy; 2014, Qurious. All Rights Reserved.</center></p>
		      </footer>
		</div>

		<script type="text/javascript">
		function showOrHide()
		{
			var show = document.getElementById("confirmPassword");

			if (option1check.checked)
			show.style.visibility = "visible";

			else
			show.style.visibility = "hidden";
		}
		</script>

		<script type="text/javascript">
		// TODO: THIS JAVASCRIPT NEEDS TO BE MOVED TOA SEPARATE FILE THIS IS EMBARRASING!!!!!!!!
		$('#myModalConfirm').on('hidden.bs.modal', function() { 
			$(this).find("input[type=text], input[type=password], input[type=email], input[type=hidden]").val("");
		});
		$(".result_select_bid").click(function() {
			// you need to copy the hidden value from that input field into the modal's input field
			val = $(this).parent().parent().find(".profile_id").val();
			$("#id_tutor").val(val);
		});
		</script>
</body>
</html>
