{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LearnLive Version 1">
    <meta name="author" content="Abhinav Khanna Aditya Agarwalla">

    <title>Qurious - One Stop Learning Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/home.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'query_parser/starter-template.css' %}" rel="stylesheet">

    <script type="text/javascript">
      function showOrHide()
      {
        var show = document.getElementById("confirmPassword");

        if (option1check.checked)
          show.style.visibility = "visible";

        else
          show.style.visibility = "hidden";
      }
    </script>
  </head>

  <body>
    <!-- <div class="panel panel-primary">
      <div class="panel-heading"><span class = "text">Computer and Electronics Help <span class = "text-muted">by David Su</span></span></div>
      <div class="panel-body">
        <img class="img-responsive" alt="Responsive" data-src="../dist/holder.js/240x240" />
      </div>
    </div> -->

    <!-- NAVBAR
    ================================================== -->
    {% include "query_parser/navbar.html" %}
        
    <!--end of navbar-->
    <div class="container marketing">
      <div class="featurette1">

      <h2><strong>Confirmation Page</strong></h2>
            
            <h4 class="text-muted">Sign In Please</h4>
            <input onClick="showOrHide()" type="checkbox" name="options" id="option1check">    I don't have an account
            <br>
            <br>
            
            <form id="signin">
              <fieldset>

              <div class="form-group">
                <label for="exampleInputEmail">EMAIL ADDRESS</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="xyz@gmail.com">
              </div>

              <div class="form-group">
                <label for="exampleInputPassoword">PASSWORD</label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="">
              </div>

              <div class="form-group" id="confirmPassword" style="visibility:hidden;">
                <label for="confirmPassword1">RE-ENTER PASSWORD</label>
                <input type="password" class="form-control" id="confirmPassword1" placeholder="">
              </div>
              
              </fieldset>
            </form>

            <br>
            <h4 >Enter Payment Information</h4>

            <form id="paymentinfo">
            <fieldset>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputEmail" placeholder="CREDIT CARD NUMBER - VISA, MASTERCARD, AMEX, DISCOVER">
            </div>

            <div class = "row">
              <div class="form-group col-lg-4">
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="MM">
              </div>
              <div class="form-group col-lg-4">
                <input type="text" class="form-control" id="exampleInputPassword" placeholder="YYYY">
              </div>
              <div class="form-group col-lg-4">
                <input type="text" class="form-control" id="exampleInputPassword" placeholder="CVC">
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputPassword" placeholder="BILLING ZIP CODE">
            </div>
          </fieldset>
      </form>

                  <button type="button" class="btn btn-danger">Start Live Session</button>

      </div>

            <hr class="featurette-divider">

      <footer>
        <p><center><a href = "https://www.facebook.com/IntegratedDigitalSystems" target="_blank"><i class="icon-facebook icon-large"></i></a> | <a href = "http://www.linkedin.com/company/2875040?trk=prof-exp-company-name" target="_blank"><i class="icon-linkedin icon-large"></i></a></center></p>
        <p><center>Copyright &copy; 2013, Qurious. All Rights Reserved.</center></p>
      </footer>
   </div>


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <!-- JavaScript plugins (requires jQuery) -->
       <script src="{% static 'jquery/jquery.js' %}"></script>
          <script src="{% static 'bootstrap/holder.js' %}"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>