{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Qurious">
    <meta name="author" content="Abhinav Khanna Aditya Agarwalla">

    <title>Qurious - My Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/home.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'query_parser/starter-template.css' %}" rel="stylesheet">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <!-- JavaScript plugins (requires jQuery) -->
       <script src="{% static 'jquery/jquery.js' %}"></script>
       <script src="{% static 'bootstrap/holder.js' %}"></script>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
       <script src="{% static 'dashboard/dashboard.js' %}"></script>

       <script type="text/javascript">
        $(document).ready(function() {

            $(".hiddendiv").hide();
            $("#homepage").show();
            $("#home").addClass("active");
            $("#homeclick").click(function(){
                $(".nonactive").removeClass("active");
                $("#home").addClass("active");
                $(".hiddendiv").hide();
                $("#homepage").show();
            });

            $("#profileclick").click(function(){
                $(".nonactive").removeClass("active");
                $("#prof").addClass("active");
                $(".hiddendiv").hide();
                $("#profileedit").show();
            });

            $("#marketclick").click(function(){
                $(".nonactive").removeClass("active");
                $("#market").addClass("active");
                $(".hiddendiv").hide();
                $("#marketplace").show();
            });

            $("#notifclick").click(function(){
                $(".nonactive").removeClass("active");
                $("#notif").addClass("active");
                $(".hiddendiv").hide();
                $("#notification").show();
            });

            get_user_skills();
            $("#new_skill").keypress(function(e) {
                if (e.which == 13) {
                $.post("/dashboard/skills/", $("#add_skill_form").serialize()).done(function ( data ) {
                  get_user_skills();
                });
                  $("#new_skill").val('');
                  return false;
                }
            });

            $("#edit_confirm").click(function() {
                if ($("#Price").val() == "") {
                  $("#Price").val(0);
                  $("#Price").attr("disabled", false);
                }

                $.ajax({ url: '/dashboard/skills/edit/', type: 'POST', data: $("#edit_skill_form").serialize() }).done(function ( data ) {
                  get_user_skills();
                });

                $("#myModal").modal('hide');
            });

            $("ul.nav").on("click", "li.active", function() {
                val = $(this).find("input").val();
                $("#modal_skill_id").val(val);
            });

            $("#optionsRadios2").click(function() {
                document.getElementById("Price").disabled = true;
            });

            $("#optionsRadios1").click(function() {
                document.getElementById("Price").disabled = false;
            });
        });
    </script>
  </head>

  <body>
    {% include "query_parser/navbar.html" %}
    <!--end of navbar-->

    <div class="container marketing">
      <div class="featurette1">

      <h2>My Dashboard</h2>

      <div class = "row">
        <div class = "col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li id="home" class="nonactive"><a id = "homeclick" href="#">Home</a></li>
                <li id="prof" class="nonactive"><a id="profileclick" href="#">My Profile</a></li>
                <li id="market" class="nonactive"><a id="marketclick" href="#">Marketplace</a></li>
                <li id="notif" class="nonactive"><a id="notifclick" href="#">Notifications</a></li>
            </ul>
        </div>
        
        <div class = "col-md-9">
            <div id = "homepage" class="hiddendiv">
                <h2 class = "tabheading">My Recent Activity</h2>

                <div class="alert alert-info">His cat is actually a dog.</div>
                <div class="alert alert-info">His cat is actually a dog.</div>
                <div class="alert alert-info">His cat is actually a dog.</div>
                <div class="alert alert-info">His cat is actually a dog.</div>
                <div class="alert alert-info">His cat is actually a dog.</div>
            </div>
            <div id = "profileedit" class="hiddendiv">
                <h2 class="tabheading">Edit Profile</h2>

                <form role="form">
                  <div class="form-group">
                    <label for="Name">Edit profile name</label>
                      <!-- Abhi put in placeholder the current profile name -->
                      <input type="text" class="form-control" id="Name" placeholder="Profile Name">
                      <span class="help-block">Proper names have a higher chance of appearing in search results.</span>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="Desc">Enter short description about yourself, your interests and main skill set.</label>    
                    <textarea class="form-control" rows="3" id="Desc" maxlength="400"></textarea>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="ProfileInputFile">Profile Picture</label>
                    <input type="file" id="ProfileInputFile">
                    <p class="help-block">Standard image formats accepted.</p>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="CarouselInputFile">Three cover pictures</label>
                    <input type="file" id="CarouselexampleInputFile">
                    <input type="file" id="CarouselexampleInputFile1">
                    <input type="file" id="CarouselexampleInputFile2">
                    <p class="help-block">Standard image formats accepted.</p>
                  </div>
                  <br>
                  <center>
                    <button type="button" class="btn btn-success">Confirm changes</button>
                    <button type="button" class="btn btn-danger">Discard changes</button>
                  </center>
                </form>
            </div>
            
            <div id = "marketplace" class="hiddendiv">
                <h2>Add Skill</h2>
                <form id="add_skill_form">
                  {% csrf_token %}
                  <input type="text" class="form-control" id="new_skill" name="new_skill" placeholder="New Skill">
                </form>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="myModalLabel">Edit Skill</h3>
                      </div>

                      <div class="modal-body">
                        <form id="edit_skill_form">
                          {% csrf_token %}
                        <p> Would you like to appear in search results as an instructor for this skill?
                            <div class="radio">
                            <label>
                              <input type="radio" id="optionsRadios1" value="1" name="is_marketable">
                                Yes
                            </label>
                            </div>
                            <div class="radio">
                            <label>
                              <input type="radio" id="optionsRadios2" value="0" name="is_marketable" checked>
                                No
                            </label>
                            </div>
                        </p>

                        <br>

                        <p> What price would you like to set for the skill for a 15 minute session?
                              <div class="form-group">
                                <label class="sr-only" for="Price">Price</label>
                                <input type="text" class="form-control" id="Price" name="price" placeholder="In US dollars" disabled>
                              </div>
                        </p>

                        <br>

                        <!-- Abhi, fill these with the other skills -->
                        <p> Set the same setting and price to the following skills:
                            <select multiple class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                        </p>
                        <input type="hidden" id="modal_skill_id" name="skill_id" value="junk_value" />

                      </div>
                      
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="edit_confirm">Confirm changes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Discard changes</button>
                      </div>
                     </form>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="row">
                <div class="col-md-4">
                  <ul id="skill_set0" class="nav nav-pills nav-stacked">
                  </ul>
                </div>

                <div class="col-md-4">
                  <ul id="skill_set1" class="nav nav-pills nav-stacked">
                  </ul>
                </div>

                <div class="col-md-4">
                  <ul id="skill_set2" class="nav nav-pills nav-stacked">
                  </ul>
                </div>

              </div>    
            </div>
            
            <div id = "notification" class="hiddendiv">
                <h2 class="tabheading">Notifications</h2>
                <div class="alert alert-info">His cat is actually a dog.</div>
                <div class="alert alert-info">His cat is actually a dog.</div>
                <div class="alert alert-info">His cat is actually a dog.</div>
                <div class="alert alert-info">His cat is actually a dog.</div>
                <div class="alert alert-info">His cat is actually a dog.</div>
            </div>
        </div>
      </div>
    
      </div>

      <hr class="featurette-divider">

      <footer>
        <p><center><a href = "https://www.facebook.com/IntegratedDigitalSystems" target="_blank"><i class="icon-facebook icon-large"></i></a> | <a href = "http://www.linkedin.com/company/2875040?trk=prof-exp-company-name" target="_blank"><i class="icon-linkedin icon-large"></i></a></center></p>
        <p><center>Copyright &copy; 2013, Qurious. All Rights Reserved.</center></p>
      </footer>
    </div>
  </body>
</html>
