{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Qurious">
    <meta name="author" content="Abhinav Khanna Aditya Agarwalla">

    <title>Qurious - My Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/home.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'query_parser/starter-template.css' %}" rel="stylesheet">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <!-- JavaScript plugins (requires jQuery) -->
       <script src="{% static 'jquery/jquery.js' %}"></script>
       <script src="{% static 'bootstrap/holder.js' %}"></script>
          
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

       <script type="text/javascript">
        $(document).ready(function() {

            $(".hiddendiv").hide();
            $("#homepage").show();
            $("#home").addClass("active");
            $("#homeclick").click(function(){
                $(".nonactive").removeClass("active");
                $("#home").addClass("active");
                $(".hiddendiv").hide();
                $("#homepage").show();
            });

            $("#profileclick").click(function(){
                $(".nonactive").removeClass("active");
                $("#prof").addClass("active");
                $(".hiddendiv").hide();
                $("#profileedit").show();
            });

            $("#marketclick").click(function(){
                $(".nonactive").removeClass("active");
                $("#market").addClass("active");
                $(".hiddendiv").hide();
                $("#marketplace").show();
            });

            $("#notifclick").click(function(){
                $(".nonactive").removeClass("active");
                $("#notif").addClass("active");
                $(".hiddendiv").hide();
                $("#notification").show();
            });
        });
    </script>
  </head>

  <body>
    {% include "query_parser/navbar.html" %}
    <!--end of navbar-->

    <div class="container marketing">
      <div class="featurette1">

      <div class = "row">
        <div class = "col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li id="home" class="nonactive"><a id = "homeclick" href="#">Home</a></li>
                <li id="prof" class="nonactive"><a id="profileclick" href="#">My Profile</a></li>
                <li id="market" class="nonactive"><a id="marketclick" href="#">Marketplace</a></li>
                <li id="notif" class="nonactive"><a id="notifclick" href="#">Notifications</a></li>
            </ul>
        </div>
        
        <div class = "col-md-9">
            <div id = "homepage" class="hiddendiv">Hello</div>
            <div id = "profileedit" class="hiddendiv">Edit profile</div>
            
            <div id = "marketplace" class="hiddendiv">
                <h2>Add Skill</h2>
                <input type="text" class="form-control" placeholder="New Skill">

                <br><br>

                <div class="row">
                <div class="col-md-4">
                  <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                      <a>
                      <span class="badge pull-right">0</span>
                      Singing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">10</span>
                      Dancing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">0</span>
                      Singing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">10</span>
                      Dancing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">0</span>
                      Singing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">10</span>
                      Dancing
                    </a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                      <a>
                      <span class="badge pull-right">0</span>
                      Singing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">10</span>
                      Dancing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">0</span>
                      Singing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">10</span>
                      Dancing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">0</span>
                      Singing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">10</span>
                      Dancing
                    </a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                      <a>
                      <span class="badge pull-right">0</span>
                      Singing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">10</span>
                      Dancing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">0</span>
                      Singing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">10</span>
                      Dancing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">0</span>
                      Singing
                    </a>
                    </li>
                    <li class="active">
                      <a>
                      <span class="badge pull-right">10</span>
                      Dancing
                    </a>
                    </li>
                  </ul>
                </div>

              </div>    
            </div>
            
            <div id = "notification" class="hiddendiv">Notifications</div>
        </div>
      </div>
    
      </div>

      <hr class="featurette-divider">

      <footer>
        <p><center><a href = "https://www.facebook.com/IntegratedDigitalSystems" target="_blank"><i class="icon-facebook icon-large"></i></a> | <a href = "http://www.linkedin.com/company/2875040?trk=prof-exp-company-name" target="_blank"><i class="icon-linkedin icon-large"></i></a></center></p>
        <p><center>Copyright &copy; 2013, Qurious. All Rights Reserved.</center></p>
      </footer>
    </div>
  </body>
</html>