{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Qurious</title>

    <!-- Bootstrap core CSS -->
 	<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/home.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'query_parser/starter-template.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery.js' %}"></script>    
    <script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" ></script>
  </head>

  <body>
  	<script type="text/javascript">
    var apiKey    = "{{ api_key }}";
    var sessionId = "{{ session_id }}";
	  var token     = "{{ token }}";

	  var publisher;
	  var session;

	  $(document).ready(function() {
		  publisher = TB.initPublisher(apiKey, "myPublisher");

		  // To check for incompatible browsers
		  // if (TB.checkSystemRequirements() == 1)
		  // {
		  session   = TB.initSession(sessionId);

		  //session.addEventListener("connectionCreated", connectionCreatedHandler);
		  //session.addEventListener("connectionDestroyed", connectionDestroyedHandler);
		  //session.connect(apiKey, token);
		  
		  // SessionConnected event when client connects to the session
		  session.addEventListener("sessionConnected", 
			                           sessionConnectedHandler);

		  session.addEventListener("streamCreated", 
			                           streamCreatedHandler);

	      session.connect(apiKey, token);
	  });

      function sessionConnectedHandler (event) {
	     subscribeToStreams(event.streams);
	     session.publish(publisher);
	  }

	  function streamCreatedHandler(event) {
	    subscribeToStreams(event.streams);
	  }

	  function subscribeToStreams(streams) {
	    for (var i = 0; i < streams.length; i++) {
	        var stream = streams[i];
	        if (stream.connection.connectionId 
	               != session.connection.connectionId) {
	            session.subscribe(stream, "mySubscriberElement", {width: 1200, height: 600});
	        }
	    }
	  }

	  //}

	  // else
	  // {
	  // 	TB.log("The client does not support WebRTC.");
	  // }
	  	 
	  // Figure out if required. If yes, then what exactly to do when for some reason connection fails
	  // TB.addEventListener("execption", exceptionHandler);

	  // Detecting if a user has disconnected
	  function disconnect() {
	  		session.addEventListener("sessionDisconnected", sessionDisconnectedHandler);
	  		session.connect(apiKey, token);
	  }

	  function sessionDisconnectedHandler(event){
	  	if (event.reason == "networkDisconnected") {
	  		alert("Your network connection terminated.")
	  	}
	  }

	  // function connectionCreatedHandler(event) {
   //  	connectionCount += event.connections.length;
   //  	TB.log(connectionCount);
	  // }
 
	  // function connectionDestroyedHandler(event) {
   //  	connectionCount -= event.connections.length;
   //  	TB.log(connectionCount);
	  // }	


    // Toggle stuff for chat window
    function toggle_visibility(id, id2) {
       var e = document.getElementById(id);
       var e2 = document.getElementById(id2);
       if(e.style.display == 'block')
       {
          e.style.display = 'none';
          e2.style.marginRight = "30px";
       }
       else
       {
          e.style.display = 'block';
          e2.style.marginRight = "294px";
       }
    }

    // function publisher_change(id) {
    //    var e = document.getElementById(id);
    //    if(e.style.marginRight == 'block')
    //       e.style.display = 'none';
    //    else
    //       e.style.display = 'block';
    // }
	</script>

	<div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel"><strong>Create my Qurious Account</strong></h2>
          </div>
        <p>{{ form.errors }}</p>
        <form id="signin" method="POST" action="{% url 'register' %}">
          <div class="modal-body">
              {% csrf_token %}
              <fieldset>

              <div class="form-group">
                <label for="exampleInputEmail">EMAIL ADDRESS</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="xyz@gmail.com" name="email">
              </div>

              <div class="form-group">
                <label for="exampleInputPassoword">PASSWORD</label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="" name="password">
              </div>

              <div class="form-group" id="confirmPassword">
                <label for="confirmPassword1">RE-ENTER PASSWORD</label>
                <input type="password" class="form-control" id="confirmPassword1" placeholder="" name="confirm">
              </div>
              
              </fieldset>
          </div>
          <div class="modal-footer">
          <center>
            <button type="submit" class="btn btn-success">Make Account</button>
        </form>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </center>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

      <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'search' %}">Qurious</a>
              </div>
              <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="{% url 'about-us' %}">About Us</a></li>
                </ul>

              {% if user.is_authenticated %}
                Hi, {{ user.username }}.
              {% else %}
                {% if form.errors %}
                  <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                <form class="navbar-form navbar-right" role="form" action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" name="username">
                  </div>
                  <!-- WHAT THE HECK IS THIS??? -->
                  <span> </span>
                  <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" name="password">
                  </div>
                  <span> </span>
                  <button type="submit" class="btn btn-danger">Sign in</button>
                </form>
              {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#myModalNew">New User?</a></li>
                </ul>

              </div><!--/.navbar-collapse -->
            </div>
          </div>
        </div>
        </div>
        
<!--     <div class="navbar-wrapper">
      <div class="container"> -->

      <!-- START THE FEATURETTES -->
     <div class="container marketing">
     <div class="featurette">
      	<div id = "containerfloat">
      		<div id = "mySubscriberElement"></div>
      		<div id = "myPublisher"></div>
          <div id = "toggle"><a href="#" onclick="toggle_visibility('chatWindow','myPublisher');"><font color="gray">Chat</font></a></div>
          <div id = "chatWindow" style="background-color:white;height:600px;width:264px;">
            <b> Aditya: </b> Isn't this amazing? <br>
            <b> Abhi: </b> GG <br>
            <b> Tong: </b> Yes Yes Yes <br>
            <b> Aditya: </b> Isn't this amazing? <br>
            <b> Abhi: </b> GG <br>
            <b> Tong: </b> Yes Yes Yes <br>
            <b> Aditya: </b> Isn't this amazing? <br>
            <b> Abhi: </b> GG <br>
            <b> Tong: </b> Yes Yes Yes <br>
            <b> Aditya: </b> Isn't this amazing? <br>
            <b> Abhi: </b> GG <br>
            <b> Tong: </b> Yes Yes Yes <br>
            <b> Aditya: </b> Isn't this amazing? <br>
            <b> Abhi: </b> GG <br>
            <b> Tong: </b> Yes Yes Yes <br>
            <b> Aditya: </b> Isn't this amazing? <br>
            <b> Abhi: </b> GG <br>
            <b> Tong: </b> Yes Yes Yes <br>
            <b> Aditya: </b> Isn't this amazing? <br>
            <b> Abhi: </b> GG <br>
            <b> Tong: </b> Yes Yes Yes <br>
            <b> Aditya: </b> Isn't this amazing? <br>
            <b> Abhi: </b> GG <br>
            <b> Tong: </b> Yes Yes Yes <br>
            <b> Aditya: </b> Isn't this amazing? <br>
            <b> Abhi: </b> GG <br>
            <b> Tong: </b> Yes Yes Yes <br>
            <input type="text" class="form-control" placeholder="Send a message">
          </div>
      	</div>	
        <br>
        <center><button type="button" class="btn btn-danger">Exit Live Session</button></center>
	 </div>
     
     <hr class="featurette-divider">
        <!-- FOOTER -->
      <footer>
        <p><center><a href = "https://www.facebook.com/IntegratedDigitalSystems" target="_blank"><i class="icon-facebook icon-large"></i></a> | <a href = "http://www.linkedin.com/company/2875040?trk=prof-exp-company-name" target="_blank"><i class="icon-linkedin icon-large"></i></a></center></p>
        <p><center>Copyright &copy; 2013, Qurious. All Rights Reserved.</center></p>
      </footer>
   </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <!-- JavaScript plugins (requires jQuery) -->
       <script src="{% static 'jquery/jquery.js' %}"></script>
          <script src="{% static 'bootstrap/holder.js' %}"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  </body>
</html>
