{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Qurious</title>

    <!-- Bootstrap core CSS -->
 	<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/home.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'query_parser/starter-template.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery.js' %}"></script>    
    <script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" ></script>
    <script src="{% static 'inclass/inclass.js' %}"></script>
  </head>

  <body>
  	<script type="text/javascript">
    var apiKey    = "{{ api_key }}";
    var sessionId = "{{ session_id }}";
	  var token     = "{{ token }}";
    var message_num = 0;

	  var publisher;
	  var session;

	  $(document).ready(function() {
		  publisher = TB.initPublisher(apiKey, "myPublisher");

		  // To check for incompatible browsers
		  // if (TB.checkSystemRequirements() == 1)
		  // {
		  session   = TB.initSession(sessionId);

		  //session.addEventListener("connectionCreated", connectionCreatedHandler);
		  //session.addEventListener("connectionDestroyed", connectionDestroyedHandler);
		  //session.connect(apiKey, token);
		  
		  // SessionConnected event when client connects to the session
		  session.addEventListener("sessionConnected", 
			                           sessionConnectedHandler);

		  session.addEventListener("streamCreated", 
			                           streamCreatedHandler);

	      session.connect(apiKey, token);
        session.addEventListener("streamDestroyed", streamDestroyedHandler);

	      session.connect(apiKey, token);
      // need to put the sessionId into the hidden input element so the post can work effectively
        $("#session_id_hidden").val(sessionId);
        get_chat_message();
        $("#post_message").keypress(function(e) {
            if (e.which == 13) {
              var csrf = $("#csrf").val();
              var content = $("#post_message").val();
              $.post("/inclass/chat/", $("#chat_message_form").serialize());
              return false;
            }
        });
	  });
	</script>

	{% include "query_parser/navbar.html" %}
        
<!--     <div class="navbar-wrapper">
      <div class="container"> -->

      <!-- START THE FEATURETTES -->
     <div class="container marketing">
     <div class="featurette">
      	<div id = "containerfloat">
      		<div id = "mySubscriberElement"></div>
      		<div id = "myPublisher"></div>
          <div id = "toggle"><button type="button" class="btn btn-danger" onclick="toggle_visibility('chatWindow','myPublisher');">Chat</button></div>
          <div id = "chatWindow" style="background-color:white;height:600px;width:264px;">
            <div id="chatWindowContent"></div>
            <form action="{% url 'chat-message-post' %}" method="POST" id="chat_message_form">
              {% csrf_token %}
              <input type="hidden" value="junk_value" id="session_id_hidden" name="session_id" />
              <input type="text" name="content" id="post_message" class="form-control" placeholder="Send a message">
            </form>
          </div>
      	</div>	

          <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Are you sure you want to exit the Live Session?</h3>
              </div>
              <div class="modal-body">
              <p> Once you exit the Live Session, you will not be able to return to it. To have a session with the instructor again, you will need to start a new paid session.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Return to Live Session.</button>

                <!-- Take care of action here -->
                <button type="button" class="btn btn-danger" onclick="exitSessionNotification();">Yes, exit Live Session.</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <br>
        
          <!-- Modal -->
        <div class="modal fade" id="myModalInstructor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Live Session has been ended by NAME.</h3>
              </div>
              <div class="modal-body">
              <p> The session is over. You will now be directed to your dashboard page in 10 seconds.</p>
              </div>
              <div class="modal-footer">
                <!-- Take care of action here to return to dashboard-->
                <button type="button" class="btn btn-danger">Return to dashboard.</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <span class="modaltest" data-toggle="modal" data-target="#myModal"><center><button type="button" class="btn btn-danger">Exit Live Session</button></center></span>
	 </div>
     
     <hr class="featurette-divider">
        <!-- FOOTER -->
      <footer>
        <p><center><a href = "https://www.facebook.com/IntegratedDigitalSystems" target="_blank"><i class="icon-facebook icon-large"></i></a> | <a href = "http://www.linkedin.com/company/2875040?trk=prof-exp-company-name" target="_blank"><i class="icon-linkedin icon-large"></i></a></center></p>
        <p><center>Copyright &copy; 2013, Qurious. All Rights Reserved.</center></p>
      </footer>
   </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <!-- JavaScript plugins (requires jQuery) -->
       <script src="{% static 'jquery/jquery.js' %}"></script>
          <script src="{% static 'bootstrap/holder.js' %}"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  </body>
</html>
