{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Qurious</title>

    {% load compressed %}
    {% compressed_css 'css' %}
    {% compressed_js 'js' %}
    <script src="{% static 'dashboard/dashboard.js' %}" rel="stylesheet"></script>
    <script>
      var logged_in_username = "{{ username }}";
      $(document).ready(function() {
		    $('#exampleInputMin').keyup(function() {
			    if ($.isNumeric($('#exampleInputMin').val())) {
			        $('#startSession').attr("disabled", false);
			    }
			    else {
			        $('#startSession').attr("disabled", true);
			    }
		    });
      });
    </script>

  </head>

<!-- NAVBAR
================================================== -->
  <body>
    <!-- NAVBAR
    ================================================== -->
    {% include "query_parser/navbar.html" %}
		<!-- Modal for bid confirmation (and in the future - payment) -->
	<div class="modal fade" id="myModalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<form id="paymentinfo" action="{% url 'in-class-post' %}" method="POST">
			{% csrf_token %}
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h2 class="modal-title" id="myModalLabel"><strong>Confirmation Page</strong></h2>
					</div>
					<div class="modal-body">
						{% if not user.is_authenticated %}
							<h4>Sign In Please</h4>
							<input onClick="showOrHide()" type="checkbox" name="options" id="option1check">    I don't have an account
							<br>
							<br>
							<fieldset>
								<div class="form-group">
									<label for="exampleInputEmail">EMAIL ADDRESS</label>
									<input type="email" name="email" class="form-control" id="exampleInputEmail" placeholder="xyz@gmail.com">
								</div>
								<div class="form-group">
									<label for="exampleInputPassoword">PASSWORD</label>
									<input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="">
								</div>
								<div class="form-group" id="confirmPassword" style="visibility:hidden;">
									<label for="confirmPassword1">RE-ENTER PASSWORD</label>
									<input type="password" name="confirm" class="form-control" id="confirmPassword1" placeholder="">
								</div>
							</fieldset>
						{% endif %}

						<h4>Enter Session Details</h4>
						<p>
							  <div class="form-group">
							    <label for="exampleInputMin">Duration of session</label>
							    <input type="text" class="form-control" id="exampleInputMin" name="minutes" placeholder="In minutes">
							  </div>
						</p>
            <p> Total cost of Live Session <span class="pull-right"> Free!</span></p></p>

						<br>
            <div> Hope you enjoy your session! </div>
					</div>
					<div class="modal-footer">
						<center>
              <input type="hidden" name="id_tutor" value="{{ tutor_id }}" id="id_tutor"/>
              <input type="hidden" name="skill_price" value="10" id="sess_skill_price" />
							<button type="submit" id="startSession" class="btn btn-danger" disabled>Start Live Session</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</center>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</form> <!-- /.end of form -->
	</div><!-- /.modal -->


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'query_parser/team1.jpg' %}" alt="" class="img-responsive">
          <div class="container">
          </div>
        </div>

        <div class="item">
          <img src="{% static 'query_parser/team2.jpg' %}" alt="" class="img-responsive">
          <div class="container">
          </div>
        </div>

        <div class="item">
          <img src="{% static 'query_parser/team3.jpg' %}" alt="" class="img-responsive">
          <div class="container">
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


    <!-- START THE FEATURETTES -->
    <div class = "container">
    	<div class = "row">
        <div class="col-md-3">
      		<center>
          <img class="img1-responsive" src="{% static 'query_parser/profile1.jpg' %}" alt="..." height="150px" weight="100px" />
          <p><a href="#" class="btn btn-danger result_select_bid" role="button" data-toggle="modal" data-target="#myModalConfirm">Enter a free session</a></p>
          </center>
        </div>

        <div class="col-md-9">
    
          {% if profile.profile_name %}
          <h1>{{ profile.profile_name }}</h1>
          {% else %}
          <h1>{{ profile.user.username }}</h1>
          {% endif %}
        <p>
        {{ profile.bio }}
        </p>

        <br><br>
        <div class="row">
        <div class="col-md-4">
          <ul class="nav nav-pills nav-stacked" id="skill_set0">
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="nav nav-pills nav-stacked" id="skill_set1">
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="nav nav-pills nav-stacked" id="skill_set2">
          </ul>
        </div>

      </div>
      </div>
    </div>

    <br><br>
      <div class ="col-md-offset-3">

    <div class="container marketing">

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p><center><a href = "#" target="_blank"><i class="icon-facebook icon-large"></i></a> | <a href = "#" target="_blank"><i class="icon-linkedin icon-large"></i></a></center></p>
        <p><center>Copyright &copy; 2014, Qurious. All Rights Reserved.</center></p>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <!-- JavaScript plugins (requires jQuery) -->
	<script src="{% static 'jquery/jquery.js' %}"></script>
	<script src="{% static 'bootstrap/holder.js' %}"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
    	$(document).ready(function(){
      	$('.carousel').carousel();
        get_user_skills();
    	});
	</script>
  </body>
</html>

