{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LearnLive Version 1">
    <meta name="author" content="Abhinav Khanna Aditya Agarwalla">

    <title>Qurious - One Stop Learning Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/home.css' %}" rel="stylesheet">
    <link href="{% static 'query_parser/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'query_parser/starter-template.css' %}" rel="stylesheet">
  </head>

  <body>

      <div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel"><strong>Create my Qurious Account</strong></h2>
          </div>
        <p>{{ form.errors }}</p>
        <form id="signin" method="POST" action="{% url 'register' %}">
          <div class="modal-body">
              {% csrf_token %}
              <fieldset>

              <div class="form-group">
                <label for="exampleInputEmail">EMAIL ADDRESS</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="xyz@gmail.com" name="email">
              </div>

              <div class="form-group">
                <label for="exampleInputPassoword">PASSWORD</label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="" name="password">
              </div>

              <div class="form-group" id="confirmPassword">
                <label for="confirmPassword1">RE-ENTER PASSWORD</label>
                <input type="password" class="form-control" id="confirmPassword1" placeholder="" name="confirm">
              </div>
              
              </fieldset>
          </div>
          <div class="modal-footer">
          <center>
            <button type="submit" class="btn btn-success">Make Account</button>
        </form>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </center>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

      <div class="static-navbar">
      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'search' %}">Qurious</a>
              </div>
              <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'search' %}">Home</a></li>
                    <li><a href="{% url 'about-us' %}">About Us</a></li>
                </ul>

	      <!--
              {% if user.is_authenticated %}
                Welcome back, {{ user.username }}.
              {% else %}
                {% if form.errors %}
                  <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
	      {% endif %}              
              -->
	      {% if not user.is_authenticated %}
		<form class="navbar-form navbar-right" role="form" action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" name="username">
                  </div>
                  <!-- WHAT THE HECK IS THIS??? -->
                  <span> </span>
                  <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" name="password">
                  </div>
                  <span> </span>
                  <button type="submit" class="btn btn-danger">Sign in</button>
                </form>
              {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    	<li><a>
			    {% if user.is_authenticated %}
                	        Welcome back, {{ user.username }}.
              		    {% else %}
               		    {% if form.errors %}
               		        <p>Your username and password didn't match. Please try again.</p>
               		    {% endif %}
			{% endif %}
			</a></li>
			{% if user.is_authenticated %}
			    <li><a href="{% url 'logout' %}" data-toggle="modal" data-target="#myModalNew">Logout</a></li>
			{% else %}
			    <li><a href="#" data-toggle="modal" data-target="#myModalNew">New User?</a></li>
			{% endif %}
                </ul>

              </div><!--/.navbar-collapse -->
            </div>
          </div>
        </div>
        </div>
        
    <div class="navbar-wrapper static-navbar">
      <div class="container">
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
      <div class="featurette">
        <form action="{% url 'search' %}" method="POST" >
          {% csrf_token %}
          <center><img class = "img-responsive" src="{% static 'query_parser/home.jpg' %}" alt="..." /></center>
          <h5 class="featurette-heading text-danger" align="center">Qurious</h2>
          <center><div class="row"><div class="col-md-6 col-md-offset-3"><input class="form-control input-lg" id="focusedInput" type="text" placeholder="Ask any Question" name="query"></div></div>
          <button type="submit" class="btn btn-danger btn-lg">Ask</button></center>
        </form>
      </div>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
      <!-- FOOTER -->
      <footer>
        <p><center><a href = "https://www.facebook.com/IntegratedDigitalSystems" target="_blank"><i class="icon-facebook icon-large"></i></a> | <a href = "http://www.linkedin.com/company/2875040?trk=prof-exp-company-name" target="_blank"><i class="icon-linkedin icon-large"></i></a></center></p>
        <p><center>Copyright &copy; 2013, Qurious. All Rights Reserved.</center></p>
      </footer>
   </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <!-- JavaScript plugins (requires jQuery) -->
       <script src="{% static 'jquery/jquery.js' %}"></script>
          <script src="{% static 'bootstrap/holder.js' %}"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
